<a href="https://colab.research.google.com/github/Parikshith21/ML_LAB/blob/master/heartDisease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
pip install pgmpy

Requirement already satisfied: pgmpy in /usr/local/lib/python3.6/dist-packages (0.1.7)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pgmpy) (1.3.1)
Requirement already satisfied: networkx<1.12,>=1.11 in /usr/local/lib/python3.6/dist-packages (from pgmpy) (1.11)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from pgmpy) (1.16.5)
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.6/dist-packages (from networkx<1.12,>=1.11->pgmpy) (4.4.0)

In [0]:

import pandas as pd
from urllib.request import urlopen
from pgmpy.models import BayesianModel
from pgmpy.estimators import MaximumLikelihoodEstimator,BayesianEstimator

In [0]:
names="A,B,C,D,E,F,G,H,I,J,K,L,M,Result"

In [0]:
names=names.split(",")

In [0]:
data=pd.read_csv("heartdisease.csv",names=names)

In [28]:
data.head()

      A    B    C      D      E    F  ...    I    J    K    L    M Result
0  63.0  1.0  1.0  145.0  233.0  1.0  ...  0.0  2.3  3.0  0.0  6.0      0
1  67.0  1.0  4.0  160.0  286.0  0.0  ...  1.0  1.5  2.0  3.0  3.0      2
2  67.0  1.0  4.0  120.0  229.0  0.0  ...  1.0  2.6  2.0  2.0  7.0      1
3  37.0  1.0  3.0  130.0  250.0  0.0  ...  0.0  3.5  3.0  0.0  3.0      0
4  41.0  0.0  2.0  130.0  204.0  0.0  ...  0.0  1.4  1.0  0.0  3.0      0

[5 rows x 14 columns]

In [0]:
model=BayesianModel([("A","B"),("B","C"),("C","D"),("D","Result")])

In [0]:
model.fit(data,estimator=MaximumLikelihoodEstimator)

In [0]:
from pgmpy.inference import VariableElimination

In [0]:
infer=VariableElimination(model)

In [66]:
q=infer.query(variables=["Result"],evidence={"A":22})

/usr/local/lib/python3.6/dist-packages/pgmpy/factors/discrete/DiscreteFactor.py:586: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  phi.values = phi.values[slice_]
/usr/local/lib/python3.6/dist-packages/pgmpy/factors/discrete/DiscreteFactor.py:598: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  phi1.values = phi1.values[slice_]

In [67]:
print(q["Result"])

+----------+---------------+
| Result   |   phi(Result) |
+==========+===============+
| Result_0 |        0.5405 |
+----------+---------------+
| Result_1 |        0.1817 |
+----------+---------------+
| Result_2 |        0.1190 |
+----------+---------------+
| Result_3 |        0.1157 |
+----------+---------------+
| Result_4 |        0.0431 |
+----------+---------------+